:root {
  --warning-color: #856404;
  --warning-background: #fff3cd;
}

/* BEGIN BOILERPLATE */
*,
*::before,
*::after {
  /* Reset box model */
  box-sizing: border-box;
}

/* Image behavior */
img {
  display: block;
  max-width: 100%;
}

/* Reset list styling */
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
menu,
ol,
ul {
  padding-left: 0;
}
article ol,
article ul {
  list-style-position: inside;
}

/* Enhance link underlines */
a {
  /* Places underlines below the descenders */
  text-underline-position: under;

  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

/* Change root font size */
html {
  font-size: 62.5%;
}

/* Disable the text inflation algorithm */
html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

/* Enable smooth scrolling */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Provide interactive elements with cursor */
label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

/* Change focus behavior */
:focus:not(:focus-visible) {
  outline: none;
}
/* END BOILERPLATE */

*,
*::after,
*::before {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  border-radius: 8px;
  border-style: none;
  padding: 4px 8px;
  font-weight: bold;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-location {
  margin: 64px 0px 32px 0px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-validation-warning {
  background-color: var(--warning-background);
  color: var(--warning-color);
  padding: 12px;
  font-size: 1.5rem;
  margin-bottom: 8px;
  border-radius: 2px;
  width: 50%;
  text-align: center;
}

.label-location-input {
  font-size: 1.5rem;
}

input#location {
  border-radius: 8px;
  padding: 4px 8px;
  text-align: center;
  width: 256px;
}

.container-results {
  height: 400px;
  width: 800px;
  border: 1px solid black;
}
